<!DOCTYPE html>
<html>
<head>
	<title>
		Plants Info
	</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1>What do you want to know about?</h1>
<hr>
<br>
<p>ENTER THE PLANT YOU WANT TO KNOW ABOUT</p>
<form action="/info" method="POST">
<label>CONDITION</label>
	<input type="Enter The Plant" name="plant"><br>
	
	<button type="submit">Submit</button>
</form>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>