<!DOCTYPE html>
<html>
<head>
	<title>
		Sickness
	</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1>What's bothering you?</h1>
<hr>
<br>
<p>ENTER THE CONDITION YOU ARE SUFFERING WITH</p>
<form action="/plants" method="POST">
<label>CONDITION</label>
	<input type="Enter Your Condition" name="condition"><br>
	
	<button type="submit">Submit</button>
</form>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>